#contentPath {
    width: 100%;
}

#progressBar {
    width: 90%;
}

#fmContent {
    padding-bottom: 10px;
}

.filesTable {
    width: 100%;
}

.filesTable tbody tr {
    cursor: pointer;
}

.filesTable tbody tr:hover {
    background-color: #d4d4d4;
}

.filesTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.filesTable tbody tr:nth-child(even):hover {
    background-color: #d4d4d4;
}


.filesTable tbody tr td:nth-child(1) {
    min-width: 16px;
    max-width: 18px;
    width: 18px;
}

.filesTable tbody tr td:nth-child(2) {
    min-width: 100px;
    text-align: left;
}

.filesTable tbody tr td:nth-child(3) {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
}

.filesTable tbody tr td:nth-child(4) {
    min-width: 180px;
    max-width: 180px;
    width: 180px;

}

.filesTable tbody tr td:nth-child(5) {
    min-width: 120px;
    max-width: 170px;
    width: 170px;
}

.filesTable tbody tr td:nth-child(6) {
    min-width: 25px;
    max-width:30px;
    width: 30px;
    text-align: center;
}

.filesTable tbody button {
    background: none;
    border: none;
    cursor: pointer;
}

.filesTable tbody a:link,
.filesTable tbody a:visited {
    color: #2e2e2e;
    text-decoration: none;
}

.filesTable tbody a:hover {
    text-decoration: underline;
}

.uploadBtn {
    margin: 10px;
}

dialog {    
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0 5px 5px 5px;
    border: 1px solid;
    width: 470px;
}

dialog > .selectFile {
    margin-top: 20px;
}

dialog > .selectFile button {
    margin-top: 5px;
}

