<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="nlog-internal.log"
      throwConfigExceptions="true">

	<targets async="true">		
		<target xsi:type="File" name="jsonFile" fileName="${basedir}/logs/${shortdate}.log">
			<layout xsi:type="JsonLayout" includeEventProperties="true">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
			</layout>
		</target>
		<target name="console" xsi:type="ColoredConsole"
		layout="${time} ${level}: ${message} ${exception:format=ToString}" encoding="UTF-8">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Cyan" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="jsonFile" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>